.preview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 15vh;
    width: 30vh;
    font-size: 2vh;
    background-color:transparent;
    margin-top: 15vh;
    border-color: lightgrey;

}

.link{
    height: 50vh;
    width: 30vh;
    border: 0.2vh solid transparent;
}

.link:hover{
    border: 0.2vh solid lightblue;
}
