* {
    font-family: RobotoRegular;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.container * {
    margin-top: 2vh;
}

.sub-button{
    width: 80%;
    height: 4vh;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1vh;
    background-color: lightblue;
    font-weight: bold;
    font-size: 1.5vh;
}

.sub-button:hover{
    background-color: rgb(150, 208, 228);
}

.text-input{
    border-radius: 1vh;
    width: 80%;
    padding-top: 0.7vh;
    padding-bottom: 0.7vh;
    padding-left: auto;
    padding-right: auto;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5vh;
}

.switch-page{
    text-decoration: none;
}

.switch-page:hover{
    background-color: transparent;
    text-decoration: underline;
}