
.header {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px;
  background-image: linear-gradient(to bottom right,#858987, lightgrey);
}

.header-top {
  display: flex;
  width: 100%;
  height: 80px;

}

.header-top__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2px;
  color:lightblue;
}

.header-logo {
  color: inherit;
  text-decoration: inherit;
  font-family: RobotoRegular;
  font-size: 70px;
  margin-left: 20px;
}

.header-top__navbar {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 14px;
  font-family: RobotoRegular;
}

.header-top__seperator {
  width: 100%;
  border: none;
  height: 2px;
  margin-top: 2px;
  background-color: black;
}

.header-top__navigation {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 55px;
}

.header-bottom {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2px;
  color:white;
}


.header-bottom__welcome {
  display: flex;
  flex: 5;
  margin-top: 10px;
  margin-left: 65px;
  font-family: RobotoRegular;
  font-size: 20px;
}

