* {
    font-family: RobotoRegular;
}

.log-out-button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    width: 30%;
    border-radius: 1vh;
    padding: 1vh;
    background-color: lightblue;
    font-weight: bold;
    font-size: 1.5vh;
}

.button-title {
    vertical-align: middle;
}

.settings-a {
    border: 0.2rem solid transparent;
    text-decoration: none;
    border-radius: 0.5rem;
    max-width: 10rem;
}

.settings-a:hover {
    background-color: transparent;
    border: 0.2rem solid rgb(173, 216, 230);
    border-radius: 0.5rem;
}