.searchInputs {
  margin-right: 0px;
  display: flex;
  margin-right: 15px;
  font-family: RobotoRegular;
}

.search input {
  background-color: lightblue;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 10px;
  height: 15px;
  width: 250px;
  font-family: RobotoRegular;
  margin-top: 13px;
  margin-left: 40px;

}

.searchIcon {
  height: 60px;
  width: 50px;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
  font-family: RobotoRegular;
}
.searchIcon svg {
  font-size: 30px;
  background: transparent;
  color: lightblue;

}

.dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  font-family: RobotoRegular;
}

.dataResult::-webkit-scrollbar {
  display: none;
  font-family: RobotoRegular;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
  font-family: RobotoRegular;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: lightblue;
}

#clearBtn {
  cursor: pointer;
}
