.preview-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50vh;
    width: 30vh;
    margin: 0;
    background-color: rgb(247, 247, 247);
}

.link{
    height: 50vh;
    width: 30vh;
    border: 0.2vh solid transparent;
}

.link:hover{
    border: 0.2vh solid lightblue;
}