* {
    font-family: RobotoRegular;
}

.background{
    background-color: white;
}

.previews-container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 70%;
}