.navbar {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-right: 0;
    margin-left: auto;

}

.header-left {
    float: left
}

.header-right {
    float: right;
    margin-right: 0;
}

.navbar-item {
    margin-top:20px;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
    color:white;
    font-size: 20px;
}